.business-section {
    margin-top: 140px;
    align-self: center;
}

/* .business-text {
    align-self: center;
} */



/* 
.business-section {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.business-section img {
    width: 530px;
}

.business-section h2 {
    font-size: 35px;
}

.business-section p {
    font-size: 17px;
    line-height: 23px;
    color: rgb(63, 63, 63);
}

.business-section button {
    font-size: 17px;
    padding: 13px 19px;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: none;
    margin-top: 15px;
}

.business-section button:hover {
    background-color: rgb(47, 45, 45);
}

.business-section a {
    margin-left: 20px;
    color: black;
    text-underline-offset: 8px;
    margin-left: 20px;
    color: black;
    text-decoration-color: #e6e6e6;
    transition: text-decoration-color 0.5s ease;
}

.business-section a:hover {
    text-decoration-color: black;
}

.business-text {
    margin-top: 130px;
} */