.qr-content {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    background-color: white;
}

.qr-img {
    width: 150px;
}

.qr-arrow {
    width: 20px;
    height: 20px;
    padding-left: 20p;
    align-self: center;
    transition: transform 0.3s ease;
}

.qr-arrow:hover {
    transform: translate(20px);
}

.qr-text {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 35px;
    
}

.qr-title {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.qr-description {
    color: black;
    text-decoration: none;
    margin-top: 0; 
}


a {
  text-decoration: none;  
}